<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="head">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
          integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link href="../static/css/style.css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
</div>

<div th:fragment="nav-bar">
    <nav class="navbar">
        <i onclick="openNav()" class="fas fa-bars"></i>
        <div id="side-nav" class="sidenav">
            <div class="side-header">
                <span class="closebtn" onclick="closeNav()">&times;</span>
                <h2>Hello, <strong>Sign In</strong></h2></div>
            <a href="/">Home</a>
            <a href="/">Shop</a>
            <a href="/">Account</a>
        </div>
        <h2 id="title">Fly-Buy</h2>
        <div class="login dropdown">
            <h2>Login</h2>
            <i class="fas fa-caret-down"></i>
            <div class="dropdown-content">
                <form>

                    <div class="containers">
                        <label for="uname"><b>Username</b></label>
                        <input type="text" placeholder="Enter Username" name="uname" required>

                        <label for="psw"><b>Password</b></label>
                        <input type="password" placeholder="Enter Password" name="psw" required>
                        <span class="forgot-password">I forgot my <a href="#">password.</a></span>

                        <button type="submit">Login</button>
                        <label>
                            <input type="checkbox" checked="checked" name="remember"> Remember me
                        </label>
                        <br>
                    </div>

                    <div class="containers">
                        <span class="signup"> New? <a href="#">Sign Up!</a></span>
                    </div>
                </form>
            </div>
        </div>
    </nav>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="../static/js/app.js"></script>
</body>
</html>